/* General Styles */
html {
    height: 100%;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Poppins';
    src: url('/assets/fonts/Poppins-Regular.ttf') format('truetype');
}

body {
    font-family: 'Poppins', sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh !important;
}

h1, h2, h3 {
    font-weight: normal;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

header {
    background-color: rgba(65, 88, 75, 1) !important;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1) !important;
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
    padding: 20px 40px 20px 40px !important;
    position: fixed !important;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999 !important;
    padding-left: 40px !important;
    color: white !important;
}

header img {
    max-height: 150px !important;
    max-width: 100% !important;
    margin-left: 20px !important;
}

nav {
    display: flex !important;
    align-items: center !important;
}

.menu {
    display: flex !important;
    justify-content: flex-end !important;
    list-style: none !important;
    margin: 0;
    padding: 0;
    font-size: 18px !important;
    font-weight: bold !important;
}

.menu li {
    margin-left: 20px !important;
}

.menu a {
    text-decoration: none;
    color: rgba(183, 165, 125, 1);
    transition: color 0.3s ease-in-out;
}

.active a {
    color: white !important;
}

.menu a:hover {
    color: white !important;
}

.hamburger {
    display: none !important;
    flex-direction: column !important;
    cursor: pointer !important;
}

.hamburger span {
    color:white;
    background-color: white;
    height: 3px !important;
    width: 25px !important;
    background-color: #333 !important;
    margin-bottom: 5px !important;
    border-radius: 5px !important;
    transition: transform 0.3s ease-in-out !important;
}

@media (max-width: 1050px) {

    .menu {
        display: none !important;
        flex-direction: column !important;
        position: absolute !important;
        top: 100% !important;
        left: 0 !important;
        width: 100% !important;
        background-color: #fff !important;
        z-index: 1 !important;
        padding: 20px !important;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1) !important;
    }

    .menu.show {
        display: flex !important;
    }

    .menu li {
        margin: 10px 0 !important;
    }

    .menu a {
        color: #333 !important;
    }

    .menu a:hover {
        color: #ff6f00 !important;
    }

    .hamburger {
        display: flex !important;
    }

    #facilities ul {
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: stretch;
    }

    #facilities li {
        flex-basis: 100%;
    }

    #titulo_pagina{
        display:none;
    }

    .slide img{
        width: 100%;
        height: 200px !important;
        object-fit: cover;
    }
    .slides-container{
        height: 500px !important;
    }
}

main {
    flex: 1 !important;
    margin-top: 190px !important;
}

/* fondo Section Styles */
#fondo {
    background-image: url(/assets/img/background.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#fondo h2 {
    color: #fff;
    font-size: 36px;
    margin-bottom: 20px;
}

#fondo p {
    color: #fff;
    font-size: 24px;
    margin-bottom: 40px;
}

.slider-wrapper h2 {
    margin-bottom: 40px;
    text-align: center;
}


.slider-wrapper {
    margin: auto;
    position: relative;
    overflow: hidden;
    width: 70%;
}

.slides-container {
    height: calc(100vh - 2rem);
    width: 100%;
    display: flex;
    overflow: scroll;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.slide-arrow {
    position: absolute;
    display: flex;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 4rem;
    background-color: white;
    border: none;
    width: 2rem;
    font-size: 3rem;
    padding: 0;
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 100ms;
}

.slide-arrow:hover,
.slide-arrow:focus {
    opacity: 1;
}

#slide-arrow-prev {
    left: 0;
    padding-left: 0.25rem;
    border-radius: 0 2rem 2rem 0;
}

#slide-arrow-next {
    right: 0;
    padding-left: 0.75rem;
    border-radius: 2rem 0 0 2rem;
}

.slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    flex: 1 0 100%;
}

.slide img {
    width: 70%;
    height: auto;
    object-fit: contain;
    image-rendering: optimizeQuality;
}


/* Facilities Section Styles */
#facilities {
    background-color: #f5f5f5;
    padding: 50px;
}

#facilities h2 {
    margin-bottom: 40px;
    text-align: center;
}

#facilities ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    list-style: none;
}

#facilities img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

#facilities li {
    flex-basis: calc(33.33% - 20px);
    margin-bottom: 20px;
}

#facilities li:last-child {
    margin-right: 0;
}

#facilities li img {
    border-radius: 5px;
}

/*#facilities li h3 {
  margin: 0
}*/

#facilities li p {
    color: #888;
    margin-bottom: 20px;
    text-align: center;
}

#contact {
    background-color: #f9f9f9;
    padding: 50px;
}

#contact h2 {
    text-align: center;
    margin-bottom: 30px;
}

#contact form {
    display: flex;
    flex-direction: column;
}

#contact label {
    font-weight: bold;
    margin-bottom: 10px;
}

#contact input,
#contact textarea {
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 5px #ccc;
}

#contact textarea {
    height: 150px;
}

#contact button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#contact button:hover {
    background-color: #0069d9;
}

#contact .text-danger {
    color: red;
}

/* Footer Styles */
footer {
    background-color: #333;
    color: #fff;
    padding: 50px;
}

footer p {
    margin: 0;
}

footer ul {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

footer li {
    margin-right: 20px;
}

footer a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

footer a:hover {
    color: #f6b319;
}

.material-icons {
    font-size: 24px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #f5f5f5;
}

.cajaReservas{
    display: flex;
    justify-content: center;
    max-width:100% !important;
    margin-top: 2em;
}

#reservas input[type="date"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-bottom: 10px;
}

#reservas input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#reservas input[type="submit"]:hover {
    background-color: #45a049;
}

#restaurante .header {
    background-color: #f8f8f8;
    padding: 20px;
    text-align: center;
}

#restaurante  h1 {
    color: #333;
    margin: 0;
}

#restaurante .dish {
    width: 80%;
    margin: 40px auto;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#restaurante   .dish h2 {
    color: #555;
    margin: 10px 0;
}

#restaurante  .dish p {
    color: #888;
    margin: 0;
}
#restaurante .dish img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
}

#contacto{
    background-image: url('/assets/img/contacto1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
#contacto *{
    color:white;
}
#contacto .container {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 15px;
}

#contacto h1 {
    color:white;
    text-align: center;
}

#contacto form {
    margin-top: 20px;

}

#contacto .form-group {
    margin-bottom: 20px;
}

#contacto .form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

#contacto .form-group input,
#contacto .form-group textarea {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    color:black;
}

#contacto .form-group textarea {
    resize: vertical;
    height: 120px;
}

#contacto .form-group button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#contacto .form-group button:hover {
    background-color: #45a049;
}

#error{
    display: flex;
    justify-content: center;
}

